.menu {
    display: flex;
}

.menu__item {
    margin-right: 120px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    display: flex;
    align-items: center;
}

.menu__icon {
    margin-right: 20px;
}

.menu__text {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}